In [8]:
from sqlalchemy.orm import sessionmaker
from _1018_1models import engine, Tevas, Vaikas

session = sessionmaker(engine)()

In [12]:
naujas_tevas = Tevas(vardas="Kietas", pavarde="Vyras")
naujas_vaikas = Vaikas(vardas="Sustras", pavarde="Vyras", tevas=naujas_tevas, mokymo_istaiga="CodeAcademy")
session.add(naujas_tevas)
session.add(naujas_vaikas)
session.commit()

In [3]:
from pprint import pprint
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Sustras, Vyras, (1, Kietas, Vyras)),
 (2, Gudrus, Vaikis, (2, Rimtas, Vaikis)),
 (3, Smagi, Vaikyte, (2, Rimtas, Vaikis)),
 (4, Sustras, Vyras, (3, Kietas, Vyras))]

In [5]:
vaikai[0].tevas = session.query(Tevas).get(1)
# session.commit()
vaikai

[(1, Sustras, Vyras, (1, Kietas, Vyras)),
 (2, Gudrus, Vaikis, (2, Rimtas, Vaikis)),
 (3, Smagi, Vaikyte, (2, Rimtas, Vaikis))]

In [3]:
sunelis = Vaikas(vardas="Gudrus", pavarde="Vaikis")
dukrele = Vaikas(vardas="Smagi", pavarde="Vaikyte")
tevas = Tevas(vardas="Rimtas", pavarde="Vaikis")
# tevas.vaikai veikia kaip sarasas
tevas.vaikai.append(sunelis)
tevas.vaikai.append(dukrele)
session.add(tevas)
session.commit()

In [21]:
tevas = session.query(Tevas).get(2)
tevas.vaikai

[(2, Gudrus, Vaikis, (2, Rimtas, Vaikis)),
 (3, Smagi, Vaikyte, (2, Rimtas, Vaikis))]

In [17]:
tevai = session.query(Tevas).all()
for tevas in tevai:
    print('tevas: ', tevas, "\nvaikai:")
    pprint(tevas.vaikai)

tevas:  (1, Kietas, Vyras)
vaikai:
[(1, Sustras, Vyras, (1, Kietas, Vyras))]
tevas:  (2, Rimtas, Vaikis)
vaikai:
[(2, Gudrus, Vaikis, (2, Rimtas, Vaikis)),
 (3, Smagi, Vaikyte, (2, Rimtas, Vaikis))]
tevas:  (3, Kietas, Vyras)
vaikai:
[(4, Sustras, Vyras, (3, Kietas, Vyras))]

In [15]:
tevas.vaikai[0].vardas

'Gudrus'

In [23]:
tevas.vaikai[1].vardas = 'Gudri'
tevas.vaikai

[(2, Gudrus, Vaikis, (2, Rimtas, Vaikis)),
 (3, Gudri, Vaikyte, (2, Rimtas, Vaikis))]

In [24]:
# jei nenurodai kuri pop() ima paskutini pasirinkto tevo vaika ir panaikina teva
pamestinukas = tevas.vaikai.pop()
pamestinukas

(3, Gudri, Vaikyte, None)

In [32]:
vaikai = session.query(Vaikas).all()
vaikai

[(1, Sustras, Vyras, (1, Kietas, Vyras)),
 (2, Gudrus, Vaikis, (2, Rimtas, Vaikis)),
 (3, Gudri, Vaikyte, (2, Rimtas, Vaikis)),
 (4, Gudrus, Vyras, (3, Kietas, Vyras))]

In [26]:
# istrina vaikus
tevas.vaikai.remove(vaikai[1])
tevas

(2, Rimtas, Vaikis)

In [29]:
# pridejo vaikus
tevas.vaikai.append(vaikai[1])
tevas.vaikai.append(vaikai[2])

In [4]:
pprint(tevas.vaikai)

NameError: name 'tevas' is not defined

In [2]:
from _1018_2crud import update_object, delete_object

In [7]:
rimtesnis = update_object(Tevas, 2, vardas="Rimtesnis")
rimtesnis

(2, Rimtesnis, Vaikis)

In [10]:
tevelis = session.query(Tevas).filter(Tevas.vardas.ilike("R%")).all()
tevelis

[(2, Rimtesnis, Vaikis)]